body {
    background: url("background.jpg");
}

#title {
    background-color: aqua;
    border-radius: 20px;
    border: solid #e84653 8px;
}

#show_sketch {
    float: right;
    padding: 10px;
    border: solid #e84653 4px;
}